<section class="container-player container-audio-list" *ngIf="songs$ | async as songs">
  <app-audio-list
    [songs]="songs"
    [songId]="songId"
    [audioPlaying]="audioPlaying$ | async"
  ></app-audio-list>
</section>

<section class="container-player container-audio-player" *ngIf="isAudioPlaying$ | async as isAudioPlaying">
  <app-audio-players-controls
    *ngIf="isAudioPlaying"
    [audioPlaying]="audioPlaying$ | async"
    (emitNextSong)="setNextSong($event)"
    (emitPrevSong)="setPrevSong($event)"
  ></app-audio-players-controls>
</section>

