.container-audio-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-player {
  margin: 0 auto;
}

.container-audio-player {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 45px;
  background: #ffffff;
}
