.container-audio-list {
  position: relative;

  .audio-list-title {
    display: flex;
    justify-content: center;
  }

  .swiper-container {
    width: 90%;

    .audio-list-title {
      margin-top: 0;
      margin-bottom: 30px;
    }

    .song {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 240px;

      .active-image {
        background: red;
      }

      .inactive-image {
        background: #2B3244;
      }

      .audio-image {
        width: 100%;
        height: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .wrapper-audio-description {
        width: 100%;
        height: 35%;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;

        .audio-description {
          display: flex;
          flex-direction: column;
          font-size: 12px;

          .name-of-music {
            font-weight: bold;
          }

          .artist-name {
            margin-top: 10px;
            width: 100px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .btn-other-controls {
          height: 18px;
          width: 4px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    outline: none;
    width: 10px;
    height: 10px;
    opacity: unset;
    top: 150px;

    &:after {
      color: #2B3244;
      font-size: 25px;
    }
  }

  .swiper-button-next {
    right: -10px;
  }

  .swiper-button-prev {
    left: -10px;
  }

  .disabled_swiper_button {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }

  .swiper-pagination-bullets {
    bottom: 0;
    left: 0;
    width: 100%;
  }


  .container-pagination {
    position: relative;
  }
}

.btn {
  padding: unset;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

