<section #audioPlayer class="container audio-player">

  <!-- start row-audio-player -->
  <article class="row-audio-player">

    <!-- start col-audio-player-title -->
    <section class="col-audio-player-title">

      <div class="container-title-img-btn">
        <img class="audio-image" src="../../../assets/images/audio-player/audio-image.svg" alt="audio-image"/>

        <button class="btn audio-player-title-btn-play" #titleBtnPlay>
          <img *ngIf="audio.paused" src="../../../assets/images/audio-player/audio-player-title-btn-play.svg" alt="title-btn-play"/>
          <img *ngIf="!audio.paused" src="../../../assets/images/audio-list/btn-pause.svg" alt="pause">
        </button>
      </div>

      <div class="audio-description">
        <span class="name-of-music">{{song.songName}}</span>
        <span class="artist-name">{{song.artistName}}</span>
      </div>

    </section>
    <!-- end col-audio-player-title -->

    <!-- start col-audio-player-basic-controls -->
    <section class="col-audio-player-basic-controls">

      <button class="btn btn-audio-prev" (click)="prevTrack()">
        <img src="../../../assets/images/audio-player/btn-play-prev.svg" alt="play-prev"/>
      </button>

      <button class="btn btn-audio-play" #play>
        <img *ngIf="audio.paused" src="../../../assets/images/audio-player/btn-play.svg" alt="play"/>
        <img *ngIf="!audio.paused" src="../../../assets/images/audio-list/btn-pause.svg" alt="pause">
      </button>

      <button class="btn btn-audio-next" (click)="nextTrack()">
        <img src="../../../assets/images/audio-player/btn-play-next.svg" alt="audio-play"/>
      </button>

    </section>
    <!-- end col-audio-player-basic-controls -->

    <!-- start col-audio-player-other-controls -->
    <section class="col-audio-player-other-controls">

      <span class="audio-current-duration-time"><span #currentTime></span> / <span #duration></span> </span>

      <span #audioVolume class="audio-control-volume">
        <span #volumePercentage class="volume-percentage"></span>
      </span>

      <button class="btn btn-volume" #volume>
        <img src="../../../assets/images/audio-player/btn-volume.svg" alt="btn-volume"/>
      </button>

      <button class="btn btn-other-controls">
        <img src="../../../assets/images/audio-list/other-controls.svg" alt="other-controls">
      </button>

    </section>
    <!-- end col-audio-player-other-controls -->

  </article>
  <!-- end row-audio-player -->

  <div class="row-audio-player-progress-bar">
    <progress
      #progressBar
      class="progress-bar"
      max="99"
      [value]="progressBarValue"
    ></progress>
  </div>

</section>
