<section #audioPlayer class="container audio-player">

  <!-- start row-audio-player -->
  <article class="row-audio-player">

    <!-- start col-audio-player-title -->
    <section class="col-audio-player-title">

      <div class="container-title-img-btn">
        <img class="audio-image" src="../../../assets/images/audio-player/audio-image.svg" alt="audio-image"/>

        <button class="btn audio-player-title-btn-play" #titleBtnPlay>
          <img src="../../../assets/images/audio-player/audio-player-title-btn-play.svg" alt="title-btn-play"/>
        </button>
      </div>

      <div class="audio-description">
        <span class="name-of-music">{{sound.trackName}}</span>
        <span class="artist-name">{{sound.artistName}}</span>
      </div>

    </section>
    <!-- end col-audio-player-title -->

    <!-- start col-audio-player-basic-controls -->
    <section class="col-audio-player-basic-controls">

      <button class="btn btn-audio-prev">
        <img src="../../../assets/images/audio-player/btn-play-prev.svg" alt="play-prev"/>
      </button>

      <button class="btn btn-audio-play" #play>
        <img src="../../../assets/images/audio-player/btn-play.svg" alt="play"/>
      </button>

      <button class="btn btn-audio-next">
        <img src="../../../assets/images/audio-player/btn-play-next.svg" alt="audio-play"/>
      </button>

    </section>
    <!-- end col-audio-player-basic-controls -->

    <!-- start col-audio-player-other-controls -->
    <section class="col-audio-player-other-controls">

      <span class="audio-current-duration-time">00:15 / 00:30</span>

      <span class="audio-control-volume">
        <svg width="100" height="4" viewBox="0 0 100 4" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M100 2H0" stroke="white" stroke-width="3"/>
        </svg>
      </span>

      <button class="btn btn-volume">
        <img src="../../../assets/images/audio-player/btn-volume.svg" alt="btn-volume"/>
      </button>

      <button class="btn btn-other-controls">
        <img src="../../../assets/images/audio-list/other-controls.svg" alt="other-controls">
      </button>

    </section>
    <!-- end col-audio-player-other-controls -->

  </article>
  <!-- end row-audio-player -->

  <article class="row-audio-player-timeline">

  </article>

</section>
