.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000000;
}

.swiper-pagination-bullet {
  margin: 0 4px;
  background: #fff;
  opacity: unset;
}

