@font-face {
  font-family: 'RobotoLight';
  src: url('../../assets/fonts/Roboto/Roboto-Light.ttf') format('ttf');
  font-style: normal;
  font-weight: 300;
}

.container-audio-list {
  background: #E0E0E0;
  height: 350px;
  font-family: 'RobotoLight', sans-serif;

  .audio-list-title {
    display: flex;
    justify-content: center;
  }

  .swiper-container {
    width: 100%;
    height: 300px;
    margin: -50px auto 0;

    .audio-list-title {
      margin-top: 0;
      margin-bottom: 30px;
    }

    .sound{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 140px;
      height: 180px;

      .audio-image {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2B3244;
      }

      .wrapper-audio-description {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .audio-description {
          display: flex;
          flex-direction: column;
          font-size: 9px;

          .name-of-music {
            font-weight: bold;
          }

          .artist-name {
            margin-top: 10px;
          }
        }

        .btn-other-controls {
          height: 18px;
          width: 4px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

.btn {
  padding: unset;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

