.container-audio-list {
  position: relative;

  .audio-list-title {
    display: flex;
    justify-content: center;
  }

  .swiper-container {

    .audio-list-title {
      margin-top: 0;
      margin-bottom: 30px;
    }

    .sound{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 140px;
      height: 180px;

      .audio-image {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #2B3244;
      }

      .wrapper-audio-description {
        width: 100%;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .audio-description {
          display: flex;
          flex-direction: column;
          font-size: 9px;

          .name-of-music {
            font-weight: bold;
          }

          .artist-name {
            margin-top: 10px;
          }
        }

        .btn-other-controls {
          height: 18px;
          width: 4px;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    outline: none;
    width: 10px;
    height: 10px;
    opacity: unset;
    color: #E0E0E0;
    top: 150px;

    &:after {
      color: #2B3244;
      font-size: 25px;
    }
  }

  .swiper-button-next {
    right: -40px;
  }

  .swiper-button-prev {
    left: -40px;
  }

  .swiper-button-prev.swiper-button-disabled,
  .swiper-button-next.swiper-button-disabled
  {
    &:after {
      color: white;
    }
  }

  .disabled_swiper_button {
    opacity: 0;
    cursor: auto;
    pointer-events: none;
  }

  .swiper-pagination-bullets {
    bottom: -50px;
    left: 0;
    width: 100%;
  }


  .container-pagination {
    position: relative;
  }
}

.btn {
  padding: unset;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

