@import "~swiper/swiper-bundle";
@import '~normalize.css';
@import "assets/css/fonts";
@import "assets/css/grid";
@import "assets/css/swiper-setting";

body {
  min-width: 600px;
  background: #E0E0E0;
  font-family: 'RobotoLight', sans-serif;
}


