@import "~swiper/swiper-bundle";
@import '~normalize.css';
@import "assets/css/fonts";
@import "assets/css/grid";

body {
  min-width: 600px;
  background: #E0E0E0;
  font-family: 'RobotoLight', sans-serif;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #000000;
}

.swiper-pagination-bullet {
  margin: 0 4px;
  background: #fff;
  opacity: unset;
}

